# Your application ID
APP_ID=your_value_here

# Your CrofAI API key
CROFAI_API_KEY=your_value_here

# Your Discord bot token
DISCORD_TOKEN=your_value_here

# Your Google API key
GOOGLE_API_KEY=your_value_here

# Your Google Custom Search Engine ID
GOOGLE_CX=your_value_here

# The port number for the application
PORT=your_value_here